body {
	overflow: hidden;
	margin: 0;
	padding: 0;
	color: white;
	font-family: 'Roboto', sans-serif;
}

.container {
	margin: 80px auto 0 auto;
	max-width: 1200px;
}

.hero {
	width: 100vw;
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./images/bbq-edited.jpg');
	background-size: cover;
	background-position: center center;
}
